!= partial("_partials/head")

.main
  .wrapper
    .job
      .job__cell.job__cell--main
        header.job__head
          .job-media
            a(href='').job-media__img
              img(src='#{ site_img }bitvagas100x100.png')
            .job-media__body
              h1.job__title  #{ title } <span class="job__company">na <a href="http://bitvagas.com/" target="_blank">#{ company }</a></span>
          ul.job-info
            li
              |  <div class="label label--#{ (job_type).toLowerCase() }">#{ job_type }</div>
            li
              img(src='#{ site_img }local.svg').job__icon
              .job__local #{ local }
            li
              img(src='#{ site_img }calendar.svg').job__icon
              .job__date #{ timestamp }

        .job__body
          ul.job-social
            li
              |  <iframe src="http://platform.twitter.com/widgets/tweet_button.1359159993.html#_=1360010161235&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=pt-BR&amp;size=m&amp;url=http://bitvagas.com/#{ lang == "en" ? "" : lang + "/" }job/#{ slug }&amp;text=BitVagas - #{ tweet }" class="twitter-share-button twitter-count-horizontal" data-twttr-rendered="true" allowtransparency="true" frameborder="0" scrolling="no" width="82" height="20"></iframe>
            li
              |  <iframe src="//www.facebook.com/plugins/like.php?href=http://bitvagas.com/#{ lang == "en" ? "" : lang + "/" }job/#{ slug }&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;colorscheme=light&amp;action=like&amp;height=20" allowtransparency="true" frameborder="0" scrolling="no" width="78" height="20"></iframe>
            li
              |  <iframe src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=medium&amp;hl=en-US&amp;url=http://bitvagas.com/#{ lang == "en" ? "" : lang + "/" }job/#{ slug }&amp;parent=http://bitvagas.com" allowtransparency="true" frameborder="0" scrolling="no" width="58" height="20"></iframe>
          h6 Descrição do trabalho:
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          h6 Habilidades:
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        footer.job-foot
          a.btn.btn--medium.btn--primary(href='') Candidatar-se à vaga

!= partial("_partials/foot")
