!!! 5
html(lang='en')
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet' href='#{ site_css }main.css')
    title #{ site_title } - #{ site_subtitle }
  body
    //
       .head
    header.head
      .wrapper
        .logo
          img.logo__img(src='#{ site_img }bitvagas.png', alt='')

        ul.head-nav
          li
            a(href='') #{ site_nav.about }
          li
            a(href='') #{ site_nav.started }
          li
            a(href='') #{ site_nav.team }
          li
            a(href='') Doar
          li
            a(href='') #{ site_nav.contact }
    //
       /.head

    //
       .main
    .main
      //
         .wrapper
      .wrapper
        //
           .banner
        .banner
          //
             .banner__cell
          .banner__cell.banner__cell--body
            h2.banner__title
              strong #{ slogan.strong }
              |  #{ slogan.title }
            p.banner__p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            a.btn.btn--large.btn--primary(href='') #{ btn_started }
          //
             /.banner__cell
          //
             .banner__cell
          .banner__cell.banner__cell--img
            .banner__img
              img(src='#{ site_img }img-1.png', alt='')

            a.btn.btn--large.btn--primary(href='') #{ btn_started }

        .about
          .about__head
            h2.about__title Sobre nós

          .about__body
            p Somos uma startup open source inovadora afim de desenvolver a melhor plataforma de vagas<br /> e levar o uso de Bitcoin a lugares ainda não alcançados.

        .started
          .started__head
            h2.started__title Começar

          .started__body
            .started-item
              img.started-item__img(src="#{ site_img }github.png")
              h3.started-item__title Open Source
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              a.btn.btn--primary(href="") Código fonte

            .started-item
              img.started-item__img(src="#{ site_img }team.png")
              h3.started-item__title Time
              p Possuimos uma equipe descentralizada de mantenedores com ótimas habilidades.
              a.btn.btn--primary(href="") Time

            .started-item
              img.started-item__img(src="#{ site_img }donate.png")
              h3.started-item__title Doe-nos
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              a.btn.btn--primary(href="") Doar

        .team
          .team__head
            h2.team__title Time

          .team__body
            .team-item
              img.team-item__img(src="#{ site_img }anderson-juhasc.png")
              h3.team-item__title Anderson Juhasc
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            .team-item
              img.team-item__img(src="#{ site_img }cesar-azevedo.png")
              h3.team-item__title Cesar Azevedo
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            .team-item
              img.team-item__img(src="#{ site_img }randson-oliveira.png")
              h3.team-item__title Randson Oliveira
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            .team-item
              img.team-item__img(src="#{ site_img }rodrigo-souza.png")
              h3.team-item__title Rodrigo Souza
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


        .donate
          .donate__head
            h2.donate__title Doar para BitVagas

          .donate__body

        .contact
          .contact__head
            h2.contact__title Contato

          .contact__body

    footer.foot
