doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet' href='#{ site_css }main.css')
    title #{ site_title } - #{ site_subtitle }
  body
    header.head
      .wrapper
        a.logo(href='index.html')
          img.logo__img(src='#{ site_img }bitvagas.png', alt='BitVagas')

        ul.head-nav
          li
            a(href='#about') #{ site_nav.about }
          li
            a(href='#started') #{ site_nav.started }
          li
            a(href='#team') #{ site_nav.team }
          li
            a(href='#support') Apoiar
          li
            a(href='#contact') #{ site_nav.contact }

    .main
      .wrapper
        .banner
          .banner__cell.banner__cell--body
            h2.banner__title
              strong #{ slogan.strong }
              |  #{ slogan.title }
            p.banner__p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            a.btn.btn--large.btn--primary(href='') #{ btn_started }

          .banner__cell.banner__cell--img
            .banner__img
              img(src='#{ site_img }img-1.png', alt='')

            a.btn.btn--large.btn--primary(href='') #{ btn_started }

        .about
          .about__head
            h2.about__title Sobre nós

          .about__body
            p Somos uma startup open source inovadora afim de desenvolver a melhor plataforma de vagas<br /> e levar o uso de Bitcoin a lugares ainda não alcançados.

        .started
          .started__head
            h2.started__title Começar

          .started__body
            .started-item
              img.started-item__img(src="#{ site_img }github.png")
              h3.started-item__title Open Source
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              a.btn.btn--primary(href="https://github.com/bitvagas/") Github

            .started-item
              img.started-item__img(src="#{ site_img }team.png")
              h3.started-item__title O Time
              p Possuimos uma equipe descentralizada de mantenedores com ótimas habilidades.
              a.btn.btn--primary(href="") Time

            .started-item
              img.started-item__img(src="#{ site_img }donate.png")
              h3.started-item__title Apoie o Projeto
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              a.btn.btn--primary(href="") Apoiar

        .team
          .team__head
            h2.team__title O Time

          .team__body
            .team-item
              a.team-item__img(href='')
                img(src="#{ site_img }anderson-juhasc.png")
              h3.team-item__title Anderson Juhasc
              h4.team-item__subtitle Front-End/UI Developer
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            .team-item
              a.team-item__img(href='')
                img(src="#{ site_img }cesar-azevedo.png")
              h3.team-item__title Cesar Azevedo
              h4.team-item__subtitle Web Developer
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            .team-item
              a.team-item__img(href='')
                img(src="#{ site_img }randson-oliveira.png")
              h3.team-item__title Randson Oliveira
              h4.team-item__subtitle Front-End Developer
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            .team-item
              a.team-item__img(href='')
                img(src="#{ site_img }rodrigo-souza.png")
              h3.team-item__title Rodrigo Souza
              h4.team-item__subtitle Assessor
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

        .donate
          .donate__head
            h2.donate__title Apoiar BitVagas
          .donate__body
            p.donate__address BTC: 1MckjA4yZWgwo4kXFnE6ikbfPPuB3yCcx3</a>
            a.donate__qrcode(href='bitcoin:1MckjA4yZWgwo4kXFnE6ikbfPPuB3yCcx3?label=BitVagas&message=Donation%20for%20Bitvagas')
                img(src='https://blockchain.info/qr?data=bitcoin:1MckjA4yZWgwo4kXFnE6ikbfPPuB3yCcx3?label=BitVagas&message=Donation%20for%20Bitvagas&size=200')

        .contact
          .contact__head
            h2.contact__title Entrar em Contato

          .contact__body
            a(href='https://docs.google.com/forms/d/1sMlOs7nLa17GPiTymLiVvXhQEor9rDA3SJCxW6w7XG4/viewform').contact__img
              svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='612px', height='792px', viewbox='0 0 612 792', enable-background='new 0 0 612 792', xml:space='preserve')
                  path(d='M306,702c-28.152,0-55.284-3.672-81.396-11.016c-26.112-7.346-50.49-17.646-73.134-30.906\
                    c-22.644-13.26-43.248-29.172-61.812-47.736c-18.564-18.562-34.476-39.168-47.736-61.812c-13.26-22.646-23.562-47.022-30.906-73.134\
                    C3.672,451.284,0,424.152,0,396c0-28.152,3.672-55.284,11.016-81.396c7.344-26.112,17.646-50.49,30.906-73.134\
                    c13.26-22.644,29.172-43.248,47.736-61.812c18.564-18.564,39.168-34.476,61.812-47.736c22.644-13.26,47.022-23.562,73.134-30.906\
                    C250.716,93.672,277.848,90,306,90c42.024,0,81.702,8.058,119.034,24.174c37.332,16.116,69.768,37.944,97.308,65.484\
                    s49.368,59.976,65.484,97.308S612,353.976,612,396c0,28.152-3.672,55.284-11.016,81.396c-7.346,26.11-17.646,50.488-30.906,73.134\
                    c-13.26,22.644-29.172,43.248-47.736,61.812c-18.562,18.564-39.168,34.478-61.812,47.736c-22.646,13.26-47.022,23.562-73.135,30.906\
                    C361.284,698.328,334.152,702,306,702z M453.492,269.928H163.404c-2.856,0-5.304,0.918-7.344,2.754s-3.06,4.386-3.06,7.65v32.436\
                    c0,1.632,0.612,2.448,1.836,2.448l152.388,86.904l1.226,0.612c0.814,0,1.428-0.204,1.836-0.612l147.492-86.904\
                    c0.814-0.408,1.428-0.612,1.836-0.612c0.406,0,1.02-0.204,1.836-0.612c1.632,0,2.448-0.816,2.448-2.448v-31.212\
                    c0-3.264-1.021-5.814-3.062-7.65S456.348,269.928,453.492,269.928z M245.412,400.284c0.408-0.408,0.612-1.021,0.612-1.836\
                    c0-1.226-0.408-1.836-1.224-1.836l-87.516-50.185c-1.224-0.408-2.244-0.408-3.06,0c-0.816,0-1.224,0.612-1.224,1.836v131.58\
                    c0,1.226,0.612,2.04,1.836,2.448h1.224c0.816,0,1.224-0.204,1.224-0.612L245.412,400.284z M351.9,410.076\
                    c-0.408-1.226-1.43-1.428-3.062-0.612l-33.66,19.584c-4.08,2.448-8.362,2.448-12.852,0l-29.376-16.522\
                    c-1.224-0.816-2.244-0.816-3.06,0l-111.996,104.04c-0.408,0.406-0.612,1.224-0.612,2.446c0,0.408,0.408,1.021,1.224,1.836\
                    c2.448,0.816,4.08,1.226,4.896,1.226h287.028c0.816,0,1.634-0.408,2.448-1.226c0-1.632-0.204-2.65-0.612-3.06L351.9,410.076z\
                    M462.06,343.98h-2.446l-83.232,49.572c-0.814,0-1.224,0.612-1.224,1.836c-0.408,0.408-0.204,1.02,0.61,1.834L459,487.188\
                    c0.816,0.816,1.428,1.226,1.836,1.226h1.224c1.226-1.226,1.838-2.04,1.838-2.448V346.429\
                    C463.896,345.612,463.284,344.796,462.06,343.98z')

    footer.foot
      .wrapper
        .foot-top
          a.foot-logo(href='')
            img.foot-logo__img(src='#{ site_img }bitvagas.png', alt='')
        .foot-bot
          ul.foot-nav
            li
              a(href='') Sobre
            li
              a(href='') Começar
            li
              a(href='') Time
            li
              a(href='') Apoiar
            li
              a(href='https://github.com/bitvagas/') Github
            li
              a(href='') Tip4Commit
            li
              a(href='https://docs.google.com/forms/d/1sMlOs7nLa17GPiTymLiVvXhQEor9rDA3SJCxW6w7XG4/viewform') Contato
