!!! 5
html(lang='en')
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700', rel='stylesheet', type='text/css')
    link(rel='stylesheet' href='#{ site_css }main.css')
    title #{ site_title } - #{ site_subtitle }
  body
    //
       .head
    header.head
      .wrapper
        .logo
          img.logo__img(src='#{ site_img }bitvagas.png', alt='')

        ul.head-nav
          li
            a(href='') #{ site_nav.about }
          li
            a(href='') #{ site_nav.started }
          li
            a(href='') #{ site_nav.team }
          li
            a(href='') Apoiar
          li
            a(href='') #{ site_nav.contact }
    //
       /.head

    //
       .main
    .main
      //
         .wrapper
      .wrapper
        //
           .banner
        .banner
          //
             .banner__cell
          .banner__cell.banner__cell--body
            h2.banner__title
              strong #{ slogan.strong }
              |  #{ slogan.title }
            p.banner__p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            a.btn.btn--large.btn--primary(href='') #{ btn_started }
          //
             /.banner__cell
          //
             .banner__cell
          .banner__cell.banner__cell--img
            .banner__img
              img(src='#{ site_img }img-1.png', alt='')

            a.btn.btn--large.btn--primary(href='') #{ btn_started }

        .about
          .about__head
            h2.about__title Sobre nós

          .about__body
            p Somos uma startup open source inovadora afim de desenvolver a melhor plataforma de vagas<br /> e levar o uso de Bitcoin a lugares ainda não alcançados.

        .started
          .started__head
            h2.started__title Começar

          .started__body
            .started-item
              img.started-item__img(src="#{ site_img }github.png")
              h3.started-item__title Open Source
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              a.btn.btn--primary(href="") Código fonte

            .started-item
              img.started-item__img(src="#{ site_img }team.png")
              h3.started-item__title Time
              p Possuimos uma equipe descentralizada de mantenedores com ótimas habilidades.
              a.btn.btn--primary(href="") Time

            .started-item
              img.started-item__img(src="#{ site_img }donate.png")
              h3.started-item__title Apoie o Projeto
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              a.btn.btn--primary(href="") Apoiar

        .team
          .team__head
            h2.team__title O Time

          .team__body
            .team-item
              a.team-item__img(href='')
                img(src="#{ site_img }anderson-juhasc.png")
              h3.team-item__title Anderson Juhasc
              h4.team-item__subtitle Front-End/UI Developer
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            .team-item
              a.team-item__img(href='')
                img(src="#{ site_img }cesar-azevedo.png")
              h3.team-item__title Cesar Azevedo
              h4.team-item__subtitle Web Developer
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            .team-item
              a.team-item__img(href='')
                img(src="#{ site_img }randson-oliveira.png")
              h3.team-item__title Randson Oliveira
              h4.team-item__subtitle Front-End Developer
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            .team-item
              a.team-item__img(href='')
                img(src="#{ site_img }rodrigo-souza.png")
              h3.team-item__title Rodrigo Souza
              h4.team-item__subtitle Assessor
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


        .donate
          .donate__head
            h2.donate__title Apoiar BitVagas
          .donate__body
            p.donate__address BTC: 1MckjA4yZWgwo4kXFnE6ikbfPPuB3yCcx3</a>
            a.donate__qrcode(href='bitcoin:1MckjA4yZWgwo4kXFnE6ikbfPPuB3yCcx3')
              <img src="https://blockchain.info/pt/qr?data=1MckjA4yZWgwo4kXFnE6ikbfPPuB3yCcx3&size=200" alt="" />

        .contact
          .contact__head
            h2.contact__title Entrar em Contato

          .contact__body
            a(href='') Contato

    footer.foot
      .wrapper
        .foot-top
          ul.foot-nav
            li
              a(href='') Sobre
            li
              a(href='') Começar
            li
              a(href='') Time
            li
              a(href='') Apoiar
            li
              a(href='') Github
            li
              a(href='') Tip4Commit
            li
              a(href='') Contato
        .foot-bot
          a.foot-logo(href='')
            img.foot-logo__img(src='#{ site_img }bitvagas.png', alt='')
