.main
  .wrapper
    .contact
      .contact__cell.contact__cell--main
        header.contact__head
          h1.contact__title #{ title }

        form.contact__body(action="https://docs.google.com/forms/d/18S_1dwNnr6hwNnRMPGQYjZslRnV94qH4Cx1vXoG5ZCk/formResponse" method="POST" target="_self" onsubmit="")
          input(type="hidden" name="draftResponse" value="[,,'8372760813608343932']\ ")
          input(type="hidden" name="pageHistory" value="0")
          input(type="hidden" name="fbzx" value="8372760813608343932")
          ul.contact-form
            li
              label.contact-form__label #{ form.name.label }<strong>*</strong>:
              input#entry_1739497939.contact-form__input.input.input--full(type="text" name="entry.1739497939" value="" dir="auto" aria-label="Nome: #{ form.name.title }" aria-required="true" required="" pattern=".*.*" title="#{ form.name.title }")
            li
              label.contact-form__label #{ form.email.label }<strong>*</strong>:
              input#entry_460734531.input.input--full(type="email" name="entry.460734531" value="" dir="auto" aria-label="E-mail #{ form.email.title }" aria-required="true" required="" title="#{ form.email.title }")
            li
              label.contact-form__label #{ form.msg.label }<strong>*</strong>:
              textarea#entry_48881239.textarea.textarea--full(name="entry.48881239" rows="8" cols="0" dir="auto" aria-label="#{ form.msg.title }" aria-required="true" required="" title="#{ form.msg.title }")
              .contact-form__message #{ form.msg.title }.

          .contact-action
            input#ss-submit.contact-action__btn.btn.btn--primary.btn--medium(type="submit" name="submit" value="#{ form.btn }")

      .contact__cell.contact__cell--aside

