.main
  .wrapper
    .banner
      .banner__cell.banner__cell--body
        h2.banner__title
          strong #{ banner.slogan.strong }
          |  #{ banner.slogan.title }
        p.banner__p
          |  #{ banner.text }
        if (lang == 'en')
          posts = Object.keys(public.job._data).length
        else
          posts = Object.keys(public[lang].job._data).length
        ul.banner__btns
          li
            a.btn.btn--large.btn--primary(href='#{ public[lang]._data.index.site_url }post') #{ banner.btnPost }
          if (posts > 1)
            li
              a.btn.btn--large.btn--secondary(href='#{ public[lang]._data.index.site_url }explore') #{ banner.btnExplore }

      .banner__cell.banner__cell--img
        .banner__img
          img(src='#{ site_img }banner-#{ lang }-img.png', alt='')

        if (lang == 'en')
          posts = Object.keys(public.job._data).length
        else
          posts = Object.keys(public[lang].job._data).length
        ul.banner__btns
          li
            a.btn.btn--full.btn--large.btn--primary(href='#{ public[lang]._data.index.site_url }post') #{ banner.btnPost }
          if (posts > 1)
            li
              a.btn.btn--full.btn--large.btn--secondary(href='#{ public[lang]._data.index.site_url }explore') #{ banner.btnExplore }

    .about#about
      .about__head
        h2.about__title #{ about.title }

      .about__body
        p #{ about.text }
      .started__body
        .started-item
          img.started-item__img(src="#{ site_img }github.png")
          h3.started-item__title #{ started.opensource.title }
          p #{ started.opensource.text }
          a.btn.btn--primary(href="https://github.com/bitvagas/" target='_blank') #{ started.opensource.btn }

        .started-item
          img.started-item__img(src="#{ site_img }team.png")
          h3.started-item__title #{ started.team.title }
          p #{ started.team.text }
          a.btn.btn--primary(href="#team") #{ started.team.btn }

        .started-item
          img.started-item__img(src="#{ site_img }donate.png")
          h3.started-item__title #{ started.support.title }
          p #{ started.support.text }
          a.btn.btn--primary(href="#support") #{ started.support.btn }

    .team#team
      .team__head
        h2.team__title #{ team.title }

      .team__body
        .team-item
          a(href='https://github.com/Anderson-Juhasc' target='_blank').team-item__img
            img(src="#{ site_img }anderson-juhasc.png")
          h3.team-item__title Anderson Juhasc
          h4.team-item__subtitle Front-End/UI Developer
          p #{ team.anderson.text }

        .team-item
          a(href='https://github.com/cesardeazevedo/' target='_blank').team-item__img
            img(src="#{ site_img }cesar-azevedo.png")
          h3.team-item__title Cesar Azevedo
          h4.team-item__subtitle Core Developer
          p #{ team.cesar.text }

        .team-item
          a(href='https://github.com/randsonjs' target='_blank').team-item__img
            img(src="#{ site_img }randson-oliveira.png")
          h3.team-item__title Randson Oliveira
          h4.team-item__subtitle Front-End Developer
          p #{ team.randson.text }

        .team-item
          a(href='https://github.com/pinhopro' target='_blank').team-item__img
            img(src="#{ site_img }rodrigo-souza.png")
          h3.team-item__title Rodrigo Souza
          h4.team-item__subtitle #{ team.rodrigo.subtitle }
          p #{ team.rodrigo.text }

    .donate#support
      .donate__head
        h2.donate__title #{ support.title }
      .donate__body
        p.donate__address BTC: 1MckjA4yZWgwo4kXFnE6ikbfPPuB3yCcx3</a>
        a.donate__qrcode(href='bitcoin:1MckjA4yZWgwo4kXFnE6ikbfPPuB3yCcx3?label=BitVagas&message=Donation%20for%20Bitvagas')
          img(src='https://chart.googleapis.com/chart?chs=200x200&cht=qr&chld=L|0&chl=bitcoin:1MckjA4yZWgwo4kXFnE6ikbfPPuB3yCcx3?label=BitVagas&message=Donation%20for%20Bitvagas')

    .invite#invite
      .invite__head
        h2.invite__title #{ invite.title }

      .invite__body
        p #{ invite.text }
        form#invite_form.invite-form(action='https://docs.google.com/forms/d/1zYmnXVRPmFieu_JBKJ33R0-3IgGEkeiNWoIB_YpmaUE/formResponse' method='POST' target='_self')
          input#entry_2101149896.invite-form__input.input(type="email" name="entry.2101149896" value="" placeholder="#{ invite.input.placeholder }" dir="auto" aria-label="Email: #{ invite.input.title }" aria-required="true" required="" title="#{ invite.input.title }")
          input(type="hidden", name="draftResponse", value="[,,'7057374124153364777']\ ")
          input(type="hidden", name="pageHistory", value="0")
          input(type="hidden", name="fbzx", value="7057374124153364777")
          input#ss-submit.invite-form__btn.btn.btn--primary(type='submit' name='submit' value='#{ invite.btn }')
