.main
  .wrapper
    .post
      header.post__head
        h1.post__title #{ title }
      .post__body
        form(action='https://docs.google.com/forms/d/1wwm3xOblK3ZSIpalrgxHm_s44iPVjxnm3kNUdIUoRIQ/formResponse' method='POST' target='_self').post__cell.post__cell--main
          h4.post__legend #{ form.legend_1 }
          ul.post-form
            li.post-form-item__language
              label.post-form__label Language:
              input.input.input--full.post-form__input(type='text', name='entry_735944823', value='[#{ lang.toUpperCase() }]', dir='auto', aria-required='true', required='', pattern='.*.*')
            li
              label.post-form__label #{ form.name.label }:
              input.input.input--full.post-form__input(type='text', name='entry.1610199550', value='', dir='auto', aria-label='#{ form.name.label }: #{ form.name.title }', aria-required='true', required='', pattern='.*.*', title='#{ form.name.title }')
            li
              label.post-form__label #{ form.email.label }:
              input.input.input--full.post-form__input(type='email', name='entry.1704719888', value='', dir='auto', aria-label='#{ form.email.label }: #{ form.email.title }', aria-required='true', required='', title='#{ form.email.title }', placeholder='#{ form.email.placeholder }')
            li
              label.post-form__label #{ form.url.label }:
              input.input.input--full.post-form__input(type='url', name='entry.1497125477', value='', dir='auto', aria-label='#{ form.url.label }: #{ form.url.title }', title='#{ form.url.title }')
            li
              label.post-form__label #{ form.logo.label }:
              input.input.input--full.post-form__input(type='url', name='entry.1676493432', value='', dir='auto', aria-label='#{ form.logo.label }: #{ form.logo.title }', title='#{ form.logo.title }')
              .post-form__help #{ form.logo.help_1 } <a href="http://imgur.com/">imgur</a> #{ form.logo.help_2 }

          h4.post__legend #{ form.legend_2 }
          ul.post-form
            li
              label.post-form__label #{ form.title.label }:
              input.input.input--full.post-form__input(type='text', name='entry.1283458641', value='', dir='auto', aria-label='#{ form.title.label }: #{ form.title.title }', aria-required='true', required='', pattern='.*.*', title='#{ form.title.title }')
            li
              label.post-form__label #{ form.location.label }:
              input.input.input--full.post-form__input(type='text', name='entry.1344887347', value='', dir='auto', aria-label='#{ form.location.label }: #{ form.location.title }', aria-required='true', required='', pattern='.*.*', title='#{ form.location.title }', placeholder="#{ form.location.placeholder }")
            li
              label.post-form__label #{ form.type.label }:
              .post-form__input
                ul.post-type-job(role='radiogroup', aria-label='Job Type:  ')
                  li
                    input#group_1140736966_1.post-type-job__input(type='radio', name='entry.1140736966', value='Full-Time', role='radio', aria-label='Full-Time', required='', aria-required='true')
                    label.post-type-job__label.label.label--full-time(for='group_1140736966_1') Full-time
                  li
                    input#group_1140736966_2.post-type-job__input(type='radio', name='entry.1140736966', value='Part-Time', role='radio', aria-label='Part-Time', required='', aria-required='true')
                    label.post-type-job__label.label.label--part-time(for='group_1140736966_2') Part-time
                  li
                    input#group_1140736966_3.post-type-job__input(type='radio', name='entry.1140736966', value='Freelance', role='radio', aria-label='Freelance', required='', aria-required='true')
                    label.post-type-job__label.label.label--freelance(for='group_1140736966_3') Freelance
                  li
                    input#group_1140736966_4.post-type-job__input(type='radio', name='entry.1140736966', value='Temporary', role='radio', aria-label='Temporary', required='', aria-required='true')
                    label.post-type-job__label.label.label--temporary(for='group_1140736966_4') Temporary
            li
              label.post-form__label #{ form.description.label }:
              textarea#entry_670866872.textarea.textarea--full(name='entry.670866872', rows='8', cols='0', dir='auto', aria-label='#{ form.description.label }: #{ form.description.title }', aria-required='true', required='#{ form.description.title }')
            li
              .post-form__label &nbsp;
              label.post-form__input
                input#group_999646831_1.ss-q-checkbox(type='checkbox', name='entry.999646831', value='I agree with the Privacy Policy.', role='checkbox', required='', aria-required='true')
                |  #{ form.terms.label } <a href="#{ public[lang]._data.index.site_url }privacy">#{ form.terms.link }</a>.
          .post-action
              input#ss-submit.post-action__btn.btn.btn--primary.btn--medium(type='submit', name='submit', value='#{ form.btn }')

        .post__cell.post__cell--aside
