footer.foot
  .wrapper
    .foot-bot
      ul.foot-nav
        li
          a(href='index.html#about') #{ site_nav.about }
        li
          a(href='index.html#team') #{ site_nav.team }
        li
          a(href='index.html#support') #{ site_nav.support }
        li
          a(href='https://github.com/bitvagas/') Github
        li
          a(href='https://tip4commit.com/github/bitvagas/bitvagas') Tip4Commit
        li
          a(href='#{ site_url }privacy.html') #{ site_nav.privacy }
        li
          a(href='#{ site_url }contact.html') #{ site_nav.contact }

      ul.foot-social
        li
          |  <iframe src="http://platform.twitter.com/widgets/tweet_button.1359159993.html#_=1360010161235&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=pt-BR&amp;size=m&amp;url=http://bitvagas.com/#{ lang == "en" ? "" : lang + "/" }&amp;text=BitVagas - #{ tweet }" class="twitter-share-button twitter-count-horizontal" data-twttr-rendered="true" allowtransparency="true" frameborder="0" scrolling="no" width="75" height="20"></iframe>
        li
          |  <iframe src="//www.facebook.com/plugins/like.php?href=http://bitvagas.com/#{ lang == "en" ? "" : lang + "/" }&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;colorscheme=light&amp;action=like&amp;height=20" allowtransparency="true" frameborder="0" scrolling="no" width="78" height="20"></iframe>
        li
          |  <iframe src="https://plusone.google.com/_/+1/fastbutton?bsv&amp;size=medium&amp;hl=en-US&amp;url=http://bitvagas.com/#{ lang == "en" ? "" : lang + "/" }&amp;parent=http://bitvagas.com" allowtransparency="true" frameborder="0" scrolling="no" width="58" height="20"></iframe>
        li
          |  <iframe src="http://ghbtns.com/github-btn.html?user=bitvagas&amp;repo=bitvagas.github.io&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="85" height="20"></iframe>

      .foot-copy
        &copy; 2015 BitVagas

script(src='/components/jquery/dist/jquery.min.js')
script(src='/#{ site_js }main.js')
