doctype html
html(lang='#{ lang }')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='#{ description }')
    meta(name='author' content='#{ site_title }')
    meta(name='revisit-after' content='5 days')

    meta(property='og:locate' content='#{ facebooklang }')
    meta(property='og:title' content='#{ site_title } - #{ site_subtitle }')
    meta(property='og:site_name' content='#{ site_title }')
    meta(property='og:url' content='http://bitvagas.com/#{ lang == "en" ? "" : lang + "/" }')
    meta(property='og:image' content='http://bitvagas.com/img/bitvagas-meta.jpg')
    meta(property='og:type' content='website')
    meta(property='og:description' content='#{ description }')

    meta(name='twitter:card' content='summary')
    meta(name='twitter:title' content='#{ site_title } - #{ site_subtitle }')
    meta(name='twitter:description' content='#{ description }')
    meta(name='twitter:image' content='http://bitvagas.com/img/bitvagas-meta.jpg')
    meta(name='twitter:site' content='@bitvagas')

    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='#{ site_css }main.css')

    link(rel='shortcut icon' href='http://bitvagas.com/favicon.ico' type='image/x-icon')
    link(rel='icon' href='http://bitvagas.com/favicon.ico' type='image/x-icon')

    title #{ site_title } - #{ site_subtitle }
  body
    header.head
      .wrapper
        .head-top
          a.logo(href='#{ site_url }')
            img(src='#{ site_img }bitvagas.svg')
          a.head-btn(href='#')

        .head-bot
          ul.head-nav
            li
              a(href='index.html#about') #{ public[lang]._data.index.site_nav.about }
            li
              a(href='index.html#team') #{ public[lang]._data.index.site_nav.team }
            li
              a(href='index.html#support') #{ public[lang]._data.index.site_nav.support }
            li
              a(href='index.html#invite') #{ public[lang]._data.index.site_nav.invite }
            li
              a(href='#{ site_url }contact.html') #{ public[lang]._data.index.site_nav.contact }
            li.dropdown
              .dropdown-active
                .dropdown-active__icon
                  img(src='#{ site_img }icon-lang.svg')
                .dropdown-active__text #{lang}
              ul.dropdown__body
                li
                  a(href='/') EN
                li
                  a(href='/pt-br/') PT-BR
                li
                  a(href='/es/') ES
