doctype html
html(lang='#{ lang }')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='#{ description }')
    meta(name='author' content='#{ site_title }')
    meta(name='revisit-after' content='5 days')

    meta(property='og:locate' content='#{ facebooklang }')
    meta(property='og:title' content='#{ site_title } - #{ site_subtitle }')
    meta(property='og:site_name' content='#{ site_title }')
    meta(property='og:url' content='http://bitvagas.com/#{ lang == "en" ? "" : lang + "/" }')
    meta(property='og:image' content='http://bitvagas.com/img/bitvagas-meta.jpg')
    meta(property='og:type' content='website')
    meta(property='og:description' content='#{ description }')

    meta(name='twitter:card' content='summary')
    meta(name='twitter:title' content='#{ site_title } - #{ site_subtitle }')
    meta(name='twitter:description' content='#{ description }')
    meta(name='twitter:image' content='http://bitvagas.com/img/bitvagas-meta.jpg')
    meta(name='twitter:site' content='@bitvagas')

    link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet' href='#{ site_css }main.css')

    link(rel='shortcut icon' href='http://bitvagas.com/favicon.ico' type='image/x-icon')
    link(rel='icon' href='http://bitvagas.com/favicon.ico' type='image/x-icon')

    title #{ site_title } - #{ site_subtitle }
  body
    header.head
      .wrapper
        .head-top
          a.logo(href='#{ site_url }')
            img(src='#{ site_img }bitvagas.svg')
          a.head-btn(href='#')
            svg#Layer_1.head-btn__open(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='100px', height='100px', viewbox='0 0 100 100', enable-background='new 0 0 100 100', xml:space='preserve')
                  g
                    path(fill='#5f5f5f', d='M75.157,32.733c0,1.398-1.133,2.532-2.532,2.532H27.433c-1.398,0-2.532-1.133-2.532-2.532l0,0\
                    c0-1.398,1.133-2.532,2.532-2.532h45.192C74.023,30.202,75.157,31.335,75.157,32.733L75.157,32.733z')
                    path(fill='#5f5f5f', d='M75.157,49.084c0,1.398-1.133,2.532-2.532,2.532H27.433c-1.398,0-2.532-1.133-2.532-2.532l0,0\
                    c0-1.398,1.133-2.532,2.532-2.532h45.192C74.023,46.552,75.157,47.686,75.157,49.084L75.157,49.084z')
                    path(fill='#5f5f5f', d='M75.157,65.434c0,1.398-1.133,2.532-2.532,2.532H27.433c-1.398,0-2.532-1.133-2.532-2.532l0,0\
                    c0-1.398,1.133-2.532,2.532-2.532h45.192C74.023,62.903,75.157,64.036,75.157,65.434L75.157,65.434z')
                    g
                      g
                        path(fill='#5f5f5f', d='M50.029,0C22.399,0,0,22.399,0,50.029s22.399,50.029,50.029,50.029s50.029-22.399,50.029-50.029\
                        S77.659,0,50.029,0z M50.029,95.078c-24.88,0-45.049-20.169-45.049-45.049S25.149,4.98,50.029,4.98s45.049,20.169,45.049,45.049\
                        S74.909,95.078,50.029,95.078z')

        .head-bot
          ul.head-nav
            li
              a(href='index.html#about') #{ site_nav.about }
            li
              a(href='index.html#team') #{ site_nav.team }
            li
              a(href='index.html#support') #{ site_nav.support }
            li
              a(href='index.html#invite') #{ site_nav.invite }
            li
              a(href='#{ site_url }contact.html') #{ site_nav.contact }
            li.dropdown
              .dropdown-active
                .dropdown-active__icon
                  img(src='#{ site_img }icon-lang.svg')
                .dropdown-active__text #{lang}
              ul.dropdown__body
                li
                  a(href='/') EN
                li
                  a(href='/pt-br/') PT-BR
                li
                  a(href='/es/') ES
